@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'BYekan';
	src: url('../fonts/BYekanNew.eot'); /* IE9 Compat Modes */
	src: url('../fonts/BYekanNew.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/BYekanNew.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/BYekanNew.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/BYekanNew.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/BYekanNew.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
	font-family: BYekan;
}

.tableloginform{
	direction:rtl;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

input[type=button] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=button]:hover {
	background-color: #45a049;
}

.formlogin{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}